
html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	position: relative;
}
h2 {
	text-align: center;
}
.containMap {
	position: relative;
	#map {
		height: 600px;
		.store-detail {
			padding: 20px;
			h3 {
				margin-bottom: 20px;
			}
		}
		#pac-container {
			padding: 20px 0;
			margin-right: 12px;
			width: 100%;
			color: #003b93 !important;
			#pac-input {
				appearance: none;
				border: none;
				box-shadow: none;
				text-decoration: none;
				position: relative;
				background-color: #e9fbff;
				height: 38px;
				padding: 5px 20px;
				color: #003b93 !important;
				font-weight: bold;
				font-size: 14px;
				text-align: center;
				&.filter {
					width: 40%;
					left: 50px;
					border-radius: 25px;
				}
				&.no-filter {
					max-width: unset;
					display: block;
					width: 60%;
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
	.mapWrap {
		position: absolute;
		top: 20px;
		right: 100px;
		z-index: 9999;
		.investCast {
			label {
				span {
					font-weight: 600;
					color: $grey;
					margin-right: 10px;
				}
				select#mag{
					width: 300px;
					border-radius: 25px;
					height: 38px;
					border: 1px solid $gray-200;
					padding: 0 20px;
				}
			}
		}
	}
}
/* Styling for autocomplete search bar */
#pac-card {
	box-sizing: border-box;
	font-family: Roboto;
	-moz-box-sizing: border-box;
	outline: none;
	width: 100%;
	background-color: #FFFFFF;
}

#pac-input:focus {
	border-color: #4d90fe;
}
.gm-style-iw {
	border-radius: 0 !important;
}
.hidden {
	display: none;
}

/* Styling for an info pane that slides out from the left.
 * Hidden by default. */
#panel {
	height: 100%;
	width: 350px;
	background-color: white;
	position: relative;
	padding: 25px 25px;
	left: 50px;
	top: 55%;
	transform: translateY(-50%);
	max-height: 450px;
	z-index: 1;
	transition: all .2s ease-out;
	overflow: scroll;
}

.open {
	width: 250px;
}

.place {
	//@extend .fontsize-md;
	@include bold;
	margin-block-end: 0px;
	padding-left: 0;
	padding-right: 0;
}

.onestore {
	padding: 10px;
	border-bottom: 1px solid grey;
	.distanceText {
		//@extend .small;
		color: silver;
		margin-block-start: 0.25em;
		padding-left: 0;
		padding-right: 0;
	}
}

